<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <p>Random number from 1 - 6 <%=num%></p>
    <p>5a - (3+b3)/4 <%=5*a-(3+b*3)/4%></p>

</head>
<body>

</body>
</html>